<%- include('./template/header') %> 
<div class="container">
    <h2 class="text-center my-4">This is content page</h2>
    <a class="my-3 btn btn-outline-danger" href="/logout">Logout</a>
</div>
<%- include('./template/footer') %> 