<%- include('./template/header') %> 
<div class="container">
    <h2 class="text-center my-4">Login session</h2>
    <div class="d-flex justify-content-center">
        <a href="/login" class="btn btn-outline-primary mx-2">Login</a>
        <a href="/register" class="btn btn-primary mx-2">Register</a>
    </div>
</div>
<%- include('./template/footer') %> 